# Supabase Configuration
# Puedes usar la clave pública o la de servicio (Service Role Key) de Supabase
SUPABASE_URL=https://mcdjysjrezxmghmvannh.supabase.co
SUPABASE_KEY=sb_publishable_2zg1_mv94Gvpl8b3lZOvMQ_xRlrgrQS

# Google Drive Configuration
DRIVE_FOLDER_ID=1M6naHKDM1HLCQvEbyq4tysiskXHD7uIW
GOOGLE_APPLICATION_CREDENTIALS=../config/credentials.json
